/*
  Pragmatic JavaScript
  Chapter 1
  Programming Assignment

  Author: Sheldon Skaggs
  Date: 3/27/2024
  Filename: styles.css
*/

/* Your CSS goes here */
/* Body Styles */
body {
  background-color: azure;
  color: brown;
}

#mainContainer {
  width: 50%;
  margin: 0px auto;
  background-color: papayawhip;
  padding: .4em;
  border:outset 4px darkolivegreen;
}

#mainContainer > h1 {
  width: 30%;
  margin: 0px auto;
  padding-bottom: .5em;
}

/* Form styles */
#inputFields {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#inputFields > div {
  max-width: 200em;
}

#characterOutput {
  margin-top: .3em;
  background-color: black;
  color: white;
}

/* Validation styles */
.invalidForm {
  padding-left: 1.2em;
  padding-bottom: 1.2em;
  border: inset 8px red;
}

/* Character readout styles */
.characterReadout {
  padding-left: 1.2em;
  padding-bottom: 1.2em;
  border: inset 8px yellow;
}